<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/admin"><img src="../../img/branding/logo_light_horizontal.svg"
                    alt="Isologotipo de la marca FunkoShop"></a>
        </picture>

        <div class="navbar__menu-toggle">
            <span class="menu-icon">&#9776;</span>
        </div>

        <ul class="navbar__menu">
            <li class="navbar__item"><a class="navbar__link" href="/admin">LISTADO</a></li>
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/admin/create">CREATE</a></li>
                <li class="navbar__item"><a class="navbar__link" href="/logout">LOGOUT</a></li>
        </ul>
    </nav>
</header>