<% if (errors) { %>
    <div class="error-messages">
      <ul>
        <% for (let field in errors) { %>
          <% if (errors[field].msg) { %>
            <li><%= errors[field].msg %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
  <% } %>
  